extends master.pug

block content

  .form
    form.form.register(method="POST", action="/login")
      .form-group
      label(for='email') Email
      input.email.form-control(type='email', name="email" placeholder='Votre email')
      .form-group
      label(for='pass') Mot de passe
      input.password.form-control(type='password', name="pass" placeholder='Votre mot de passe')
      br
      .form-action
      button.submit.btn.btn-outline-dark.btn-sm.btn-block(type='submit') Valider
      br
      p  Ou bien, connectez-vous via ...
      a#login-github(href="/auth/github", title="Connexion Github") <i class="fab fa-github"></i>

